@keyframes BtnBaby{0%{background-position-x: 0%;}100%{background-position-x: 90%;}}
@keyframes FndoModal {from {opacity: 0;} to {opacity: 1;}}
@keyframes modal{
  from { opacity: 0;transform: translate3d(0,-80px,0)}
  to { opacity: 1;transform: translate3d(0,0,0)}}

input[type="number"]::-webkit-inner-spin-button,/*remover Spinner*/
input[type="number"]::-webkit-outer-spin-button{-webkit-appearance: none;margin: 0}
@font-face {font-family: 'Tommy_Regular';
    src: url('Font/MADE TOMMY Regular_PERSONAL USE.otf') format('opentype');}
@font-face {font-family: 'Tommy_Ligth';
  src: url('Font/MADE TOMMY Thin_PERSONAL USE.otf') format('opentype');}
@font-face {font-family: 'Tommy_Bold';
  src: url('Font/MADE TOMMY Bold_PERSONAL USE.otf') format('opentype');}
@font-face {font-family: 'Tommy_Medium';
  src: url('Font/MADE TOMMY Medium_PERSONAL USE.otf') format('opentype');}
:root{
  --Laranja: #fa7d09;
  --Branco: #ffffff;
  --Cor-Final: #FF5900;
  --Degrade: linear-gradient(to right,#434343,#73008A,#FF5900);
  --MargemImput: 5px 15px 15px 15px;
  --DegradeFundo:linear-gradient(#1f1f1f,#101010) center center no-repeat fixed;
  --degradeFonte:linear-gradient(to bottom,#E312DF, #FA077D, #ff6f00);
  --CorInput:#303030;
  --Lite:
  'Tommy_Ligth','Lexend Deca','Arial';
  --Rglr:
  'Tommy_Regular','Lexend Deca','Arial';
  --Bold:
  'Tommy_Bold','Lexend Deca','Arial';
  --Medi:
  'Tommy_Medium','Lexend Deca','Arial';
}*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: var(--Rglr);
  font-size: 12px;
  letter-spacing: 0.7px;
  text-align: center;
  outline:none;
}*::-webkit-scrollbar {width: 10px;height: 10px;}
*::-webkit-scrollbar-track {background: #0000006a;}
*::-webkit-scrollbar-thumb {background: #5d5d5da5;border-radius: 500px;}
*::-webkit-scrollbar-thumb:hover {background: #555;}

.Ct{display:flex;flex-wrap: wrap;justify-content:center;align-items:center}
.Start{display:flex;justify-content:flex-start;align-items:center}
.Start2{display:flex;align-items:flex-start;flex-direction:column}
.End{display:flex;justify-content:flex-end;align-items:center}
.Cl{display:flex;flex-direction:column}
.Rw{display:flex;flex-direction: row;flex-wrap:nowrap;overflow-x:scroll}
.Bt{width: 100%;display: flex;justify-content: space-between;align-items:center}
.Ev{display: flex;justify-content:space-evenly;align-items:center}
.Fx{position: fixed;top:0;left:0}
.Hr{border-bottom: 1px solid #606060}
.rd{border-radius: 10px;}.Rd{border-radius: 20px;}.RD{border-radius: 255px;}
.w100{width:100%}.w90{width:90%;}.w80{width:80%;}.w50{width:50%;}.w40{width:40%;}
.WH30{width:30px;height:30px;}.WH15{width:15px;height:15px;}.WH40{width:40px;height:40px;}
.h100{height: 100%}
.B{font-weight: bold}
.Br{word-wrap: break-word}
.Grn{background: #008000}.CrCnz{color: #ffffff2f}
.Red{background: #ff0000}
.Dark{background: var(--DegradeFundo);color: white}
.Wht{color: #ffffff}
.Blk{color: black;}
.Pddn-X{padding: 0% 5%}
.Pddn-Y{padding: 3% 0%}
.Pddn-XY{padding: 2% 4%}
.Mgrn-PX{margin: 20px 0px}
.Mgrn-PX2{margin: 3px 3px}
.Mg{margin-top:10px;margin-bottom:10px}
.tc{text-align:center;}
.FtLt{font-family: var(--Lite)}
.FtRg{font-family: var(--Rglr)}
.FtBd{font-family: var(--Bold)}
.FtMd{font-family: var(--Medi)}
.Rltv{position: relative}
.Abslt{position: absolute}
.Hddn{overflow: hidden;}
.Opacy{opacity: 0}
.Bd0{border:1px solid #ff000000}
.none{display: none;}

.erro{color:red;}
.error{border: 2px solid red;}
.error::placeholder {color: red}

html,body{touch-action: pan-x pan-y;background: #ffffff;/* color: black; */}
header{height:55px;padding:0px 10px}
header.Lite{background: purple; color: white; fill: white;}
h1{font-size:40px;font-family:var(--Bold)}
h2{font-size:18px; color:var(--Laranja)}
.Dark hr{border: 1px solid #ffffff2e;margin:4px 0px;}
.Lite hr{border: 1px solid #00000070;margin:4px 0px;}
.ppt,button,.Close{cursor: pointer}
